<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 MyBatis에서 처리할 SQL문을 작성하는 문서 -->
<!DOCTYPE mapper
	PUBLIC "-//mtbatis.org//DTO Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	<insert id="insertBoard" parameterType="boardVo">
		insert into jdbc_board (board_no, board_title, board_writer, board_date,
		board_cnt, board_content)
		values (board_seq.nextVal, #{board_title}, #{board_writer}, sysdate, 0,
		#{board_content})
	</insert>
	<delete id="deleteBoard" parameterType="int">
		delete from jdbc_board
		where board_no = #{board_no}
	</delete>
	<update id="updateBoard" parameterType="boardVo">
		update jdbc_board set
		board_title = #{board_title}, board_content = #{board_content},
		board_date = sysdate where board_no = #{board_no}
	</update>
	<update id="updateCnt" parameterType="int">
	update jdbc_board set board_cnt = (board_cnt + 1) where board_no = #{board_no}
	</update>

	<select id="getAllBoard" resultType="boardVo">
		select * from jdbc_board order by board_no desc
	</select>
	<select id="getOneBoard" resultType="boardVo" parameterType="int">
		select board_no, board_title, board_writer,
		to_char(board_date,'YYYY-MM-DD') board_date,
		board_cnt, board_content
		from jdbc_board where board_no = #{board_no}
	</select>
	<select id="searchBoard" resultType="boardVo" parameterType="string">
		select * from jdbc_board where board_title like
		'%' || #{board_title} || '%' order by board_no desc
	</select>
</mapper>