<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 MyBatis에서 처리할 SQL문을 작성하는 문서 -->
<!DOCTYPE mapper
	PUBLIC "-//mtbatis.org//DTO Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<insert id="insertMember" parameterType="memberVo">
		insert into mymember (mem_id, mem_pass, mem_name, mem_tel, mem_addr) 
		values (#{mem_id}, #{mem_pass}, #{mem_name}, #{mem_tel}, #{mem_addr})
	</insert>
	
	<delete id="deleteMemId" parameterType="String">
		delete from mymember where mem_id = #{mem_id}
	</delete>

	<update id="updateMember" parameterType="memberVo">
		update mymember set 
		mem_pass = #{mem_pass}, mem_name = #{mem_name}, 
		mem_tel = #{mem_tel}, mem_addr = #{mem_addr}
		where mem_id = #{mem_id}
	</update>
	
	<select id="getAllMember" resultType="memberVo">
		select * from mymember
	</select>
	
	<select id="getMemIdCnt" resultType="int" parameterType="String">
		select count(*) cnt from mymember where mem_id = #{mem_id}
	</select>
	
	<!-- 
		Map을 파라미터로 받아서 SQL문에 적용할 때는  Map의 Key값으로 지정한다
		그러면 해당 key와 같이 저장된 value값이 SQL문에 적용된다
	 -->
	 
	 <!-- 
	 	파라미터로 가져온 값을 컬럼명이나 테이블명과 같은 자리에 사용할 경우에는
	 	달러($) 기호를 사용해서 나타낸다
	 	예) ${변수명} 또는 ${key}값
	  -->
	 
	 <!-- key값의 정보 : 회원ID(memid), 수정할컬럼명(field), 수정할데이터(data) -->
	<update id="selectUpdate" parameterType="map">
		update mymember set ${field} = #{data} where mem_id = #{mem_id}
	</update>
</mapper>
